# Analyse ADN MyHeritage

---

**Site d'analyse :**

- MyHeritage

- MyTrueAncestry

rsid = ID SNP de référence (indique le « nom » du premier et du dernier SNP du segment)

Les SNP (pour single nucleotide polymorphism), prononcés Snips, correspondent à des variations mineures du génome au sein d'une population. Un seul nucléotide, le composant de base de l'ADN, est modifié.

Voir les Étude d'association pangénomique

https://towardsdatascience.com/know-thyself-using-data-science-to-explore-your-own-genome-ec726303f16c

https://towardsdatascience.com/machine-learning-in-bioinformatics-genome-geography-d1b1dbbfb4c2

In [2]:
# data visualization
import seaborn as sns
sns.set_style('darkgrid')
sns.color_palette('Spectral')
import matplotlib.pyplot as plt

# data analysis
import numpy as np
import requests
import pandas as pd
import re

# web scrapping
import sys
import requests
from bs4 import BeautifulSoup as bs

## Data collection

In [3]:
data = pd.read_csv('MyHeritage_raw_dna_data.csv', sep=',', dtype={'RSID':'str', 'CHROMOSOME':'object', 'POSITION':'int', 'RESULT':'str'}, comment='#', low_memory=False)
df = pd.DataFrame(data) # for Collection and EDA
data.head()

          RSID CHROMOSOME  POSITION RESULT
0  rs547237130          1     72526     AA
1  rs562180473          1    565703     AA
2  rs575203260          1    567693     TT
3    rs3131972          1    752721     AA
4  rs200599638          1    752918     GG

**Description des variables :**

(RESULT is Genotype)

In [4]:
display(df.isna().any(), df.nunique())

RSID          False
CHROMOSOME    False
POSITION      False
RESULT        False
dtype: bool

RSID          609346
CHROMOSOME        24
POSITION      608314
RESULT            14
dtype: int64

**Simplification du dataset :**

In [5]:
# replace X and Y by values (regex using)
chromosome_dict = df['CHROMOSOME'].unique()
chromosome_dict = dict(zip(list(range(chromosome_dict.size)), chromosome_dict))
df['CHROMOSOME'] = df['CHROMOSOME'].apply(lambda x: re.sub(r'X', r'23', x))
df['CHROMOSOME'] = df['CHROMOSOME'].apply(lambda x: re.sub(r'Y', r'24', x))
df['CHROMOSOME'] = df['CHROMOSOME'].apply(lambda x:int(x))
df.head()

          RSID  CHROMOSOME  POSITION RESULT
0  rs547237130           1     72526     AA
1  rs562180473           1    565703     AA
2  rs575203260           1    567693     TT
3    rs3131972           1    752721     AA
4  rs200599638           1    752918     GG

**Acquisition de la base de donnée SNPedia (https://www.snpedia.com/)** 

Article interessant : https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3245045/

tuto wikitool (https://www.snpedia.com/index.php/Bulk), ne marche pas avec Python3, faire webscrapping avec BeautifulSoup. Voir :

- https://stackoverflow.com/questions/70233801/python-scraping-of-wikipedia-category-page
- https://stackoverflow.com/questions/62398524/how-can-i-get-an-article-from-wiki-with-a-specific-language-using-python

***Remarque sur la base de donnée :***

La base ClinVar est pour l'etude des variations de phenotype (dans notres cas, uniquement les maladies, GWAS plus synthétique et le tableau est plus simple à traiter). De maniere générale :

**Clinvar** : La majorité des études rapportées sont de la forme "nous examinons 50 personnes atteintes d'une maladie rare X et avons trouvé une forte prévalence de la variation rare Y, donc la variation Y est très probablement pathogène". Les rapports de cotes sont rarement rapportés, j'imagine parce que la variation est si rare qu'il serait impossible de trouver suffisamment de contrôles pour calculer cela avec une quelconque signification statistique.

**GWAS** . La majorité des tests sont de la forme "nous avons examiné les génomes de 2000 personnes pour toute variation génomique qui pourrait expliquer la prévalence de la condition Y. Nous avons constaté que les personnes avec la variation X avaient 1,3 fois plus de chances de développer la condition Y que celles sans variation X.". La plupart de ces résultats font état de variations relativement courantes, probablement parce que cela conduit à des résultats statistiquement significatifs compte tenu de la taille de l'échantillon.

In [ ]:
nb_snp = 111727
snp_list = []
# get query request loop
URL = "http://bots.snpedia.com/api.php"
for i in range(int(nb_snp/500)+1) :
    if i == 0 :
        PARAMS = { "action": "query","cmtitle": "Category:Is a snp", "cmlimit": '500' , "list": "categorymembers","format": "json"}
    else :
        PARAMS = { "action": "query","cmtitle": "Category:Is a snp", 'cmcontinue': lpage, "cmlimit": '500' , "list": "categorymembers","format": "json"}
    # request
    req = requests.get(url=URL, params=PARAMS).json()
    if 'continue' in req.keys(): lpage = req['continue']['cmcontinue']
    # get list
    pages = req['query']['categorymembers']
    snp_list += [p['title'] for p in pages]
#display(snp_list)

In [5]:
gwas_list = []
# get query request loop
URL = "http://bots.snpedia.com/api.php"
PARAMS = { "action": "query","cmtitle": "Category:GWAS", "cmlimit": '500' , "list": "categorymembers","format": "json"}
# request
req = requests.get(url=URL, params=PARAMS).json()
# get list
pages = req['query']['categorymembers']
gwas_list += [p['title'] for p in pages]
display(gwas_list)

['MYH6 c.2161',
 'Rs1000113',
 'Rs10033464',
 'Rs10045431',
 'Rs1004819',
 'Rs10078095',
 'Rs1012053',
 'Rs1015362',
 'Rs10260404',
 'Rs1038304',
 'Rs1042602',
 'Rs1042725',
 'Rs10483853',
 'Rs10486567',
 'Rs10486776',
 'Rs10488360',
 'Rs10492604',
 'Rs10493340',
 'Rs10493485',
 'Rs10494366',
 'Rs10496265',
 'Rs10497721',
 'Rs10498345',
 'Rs10498792',
 'Rs10499194',
 'Rs10499559',
 'Rs10501570',
 'Rs10501920',
 'Rs10503887',
 'Rs10505477',
 'Rs10506821',
 'Rs10507380',
 'Rs10510634',
 'Rs10514345',
 'Rs10516487',
 'Rs10516541',
 'Rs1051730',
 'Rs10757278',
 'Rs10778213',
 'Rs10789230',
 'Rs10795668',
 'Rs10798269',
 'Rs10801047',
 'Rs10811661',
 'Rs10871290',
 'Rs10883365',
 'Rs10889676',
 'Rs10889677',
 'Rs10896449',
 'Rs10911902',
 'Rs10945919',
 'Rs10946398',
 'Rs10946808',
 'Rs10984447',
 'Rs10993994',
 'Rs10994336',
 'Rs11052552',
 'Rs11064768',
 'Rs1106683',
 'Rs1106684',
 'Rs11101442',
 'Rs1111875',
 'Rs11171739',
 'Rs11200638',
 'Rs11209002',
 'Rs11209003',
 'Rs11209026',
 'Rs11465802',
 'Rs11465804',
 'Rs1154865',
 'Rs1155865',
 'Rs11574637',
 'Rs1158167',
 'Rs1169310',
 'Rs11761231',
 'Rs1186868',
 'Rs11887534',
 'Rs1207421',
 'Rs12130333',
 'Rs1219648',
 'Rs12198986',
 'Rs12203592',
 'Rs12290811',
 'Rs12304921',
 'Rs12567232',
 'Rs12593813',
 'Rs12680546',
 'Rs12708716',
 'Rs12722489',
 'Rs12779790',
 'Rs12821256',
 'Rs12883384',
 'Rs12899449',
 'Rs12913832',
 'Rs12949531',
 'Rs12970134',
 'Rs13015714',
 'Rs13266634',
 'Rs13277113',
 'Rs13281615',
 'Rs1333026',
 'Rs1333049',
 'Rs13361189',
 'Rs13387042',
 'Rs13397985',
 'Rs1343151',
 'Rs1344706',
 'Rs1373692',
 'Rs1376877',
 'Rs1379659',
 'Rs1395479',
 'Rs1398024',
 'Rs1408799',
 'Rs1412337',
 'Rs1427407',
 'Rs1455782',
 'Rs1463605',
 'Rs1464510',
 'Rs1480597',
 'Rs1492820',
 'Rs1495377',
 'Rs151222',
 'Rs1528753',
 'Rs1529276',
 'Rs1540771',
 'Rs1558861',
 'Rs1602565',
 'Rs1670533',
 'Rs1678542',
 'Rs16891982',
 'Rs16892766',
 'Rs16896068',
 'Rs16901979',
 'Rs16977195',
 'Rs16984239',
 'Rs16996148',
 'Rs1701704',
 'Rs17039212',
 'Rs17065323',
 'Rs1712790',
 'Rs17145738',
 'Rs17321515',
 'Rs1738074',
 'Rs17388568',
 'Rs1748195',
 'Rs17483466',
 'Rs17672135',
 'Rs17690232',
 'Rs17696736',
 'Rs17782313',
 'Rs17810546',
 'Rs1793004',
 'Rs1799969',
 'Rs1812175',
 'Rs1823068',
 'Rs1834640',
 'Rs1859962',
 'Rs1875517',
 'Rs1892534',
 'Rs1926657',
 'Rs1934951',
 'Rs1963982',
 'Rs1970546',
 'Rs1975197',
 'Rs1978503',
 'Rs1992660',
 'Rs2002842',
 'Rs2040704',
 'Rs206468',
 'Rs2064689',
 'Rs2075555',
 'Rs2144300',
 'Rs216013',
 'Rs2179965',
 'Rs2180341',
 'Rs2200733',
 'Rs2201841',
 'Rs2218488',
 'Rs2228603',
 'Rs224136',
 'Rs2241880',
 'Rs2242330',
 'Rs2250417',
 'Rs2251746',
 'Rs2254287',
 'Rs2282978',
 'Rs2292239',
 'Rs2300478',
 'Rs2301436',
 'Rs2306677',
 'Rs2313132',
 'Rs2314398',
 'Rs2315008',
 'Rs2338104',
 'Rs2349775',
 'Rs2352904',
 'Rs2373115',
 'Rs2390582',
 'Rs2395148',
 'Rs2398162',
 'Rs2402130',
 'Rs2494250',
 'Rs2542151',
 'Rs2548003',
 'Rs2648875',
 'Rs2705293',
 'Rs2722425',
 'Rs2735839',
 'Rs2782931',
 'Rs2794520',
 'Rs2808630',
 'Rs2812378',
 'Rs2816316',
 'Rs2819770',
 'Rs2820037',
 'Rs2832077',
 'Rs2836823',
 'Rs2836878',
 'Rs2837960',
 'Rs2838815',
 'Rs28777',
 'Rs2877832',
 'Rs2896103',
 'Rs2902440',
 'Rs2903692',
 'Rs2943634',
 'Rs2953145',
 'Rs2981582',
 'Rs3130340',
 'Rs315135',
 'Rs317689',
 'Rs32566',
 'Rs345013',
 'Rs35264875',
 'Rs358806',
 'Rs365990',
 'Rs366676',
 'Rs3736228',
 'Rs3748069',
 'Rs3761218',
 'Rs3761847',
 'Rs3764147',
 'Rs3796619',
 'Rs3802842',
 'Rs3803662',
 'Rs380390',
 'Rs3812316',
 'Rs3814219',
 'Rs3816587',
 'Rs3817198',
 'Rs3825942',
 'Rs3849150',
 'Rs3867498',
 'Rs3890745',
 'Rs3923809',
 'Rs3924426',
 'Rs4128725',
 'Rs4129148',
 'Rs4129267',
 'Rs4130590',
 'Rs4140564',
 'Rs4142041',
 'Rs420259',
 'Rs42041',
 'Rs4355801',
 'Rs4363506',
 'Rs437943',
 'Rs4402960',
 'Rs441051',
 'Rs4430796',
 'Rs4460176',
 'Rs4466137',
 'Rs4471028',
 'Rs4591494',
 'Rs4607103',
 'Rs4626664',
 'Rs4668338',
 'Rs4771450',
 'Rs4776472',
 'Rs4796217',
 'Rs4799915',
 'Rs4810485',
 'Rs4846033',
 'Rs4846914',
 'Rs4870044',
 'Rs4896582',
 'Rs4904868',
 'Rs4910742',
 'Rs4911414',
 'Rs492602',
 'Rs4932217',
 'Rs4933824',
 'Rs4939827',
 'Rs4950928',
 'Rs495337',
 'Rs4962416',
 'Rs4963128',
 'Rs499818',
 'Rs5015480',
 'Rs5029939',
 'Rs507666',
 'Rs5498',
 'Rs560887',
 'Rs563694',
 'Rs5751901',
 'Rs5770917',
 'Rs5945572',
 'Rs599839',
 'Rs6013382',
 'Rs6060369',
 'Rs6060373',
 'Rs6063312',
 'Rs6085920',
 'Rs6440003',
 'Rs6442522',
 'Rs6445975',
 'Rs6458307',
 'Rs6465657',
 'Rs646776',
 'Rs6469804',
 'Rs6498169',
 'Rs6556756',
 'Rs6599077',
 'Rs6604026',
 'Rs6669582',
 'Rs6763931',
 'Rs6822844',
 'Rs683395',
 'Rs6847149',
 'Rs6855911',
 'Rs688034',
 'Rs6897932',
 'Rs6918152',
 'Rs6922269',
 'Rs6939340',
 'Rs6977660',
 'Rs6983267',
 'Rs6993813',
 'Rs7014346',
 'Rs702543',
 'Rs7046653',
 'Rs710521',
 'Rs7142881',
 'Rs7176508',
 'Rs7192086',
 'Rs721048',
 'Rs7216389',
 'Rs724016',
 'Rs7297610',
 'Rs7310409',
 'Rs735665',
 'Rs737267',
 'Rs740363',
 'Rs741301',
 'Rs743777',
 'Rs744166',
 'Rs7442295',
 'Rs746961',
 'Rs7506045',
 'Rs7517847',
 'Rs7524102',
 'Rs7552393',
 'Rs7578597',
 'Rs7595412',
 'Rs7626795',
 'Rs763361',
 'Rs770189',
 'Rs7702187',
 'Rs7746082',
 'Rs7754840',
 'Rs7756992',
 'Rs7770628',
 'Rs780094',
 'Rs783396',
 'Rs7931342',
 'Rs7961581',
 'Rs798544',
 'Rs7993214',
 'Rs8007661',
 'Rs8034191',
 'Rs8050136',
 'Rs8055236',
 'Rs8192284',
 'Rs854555',
 'Rs864745',
 'Rs872071',
 'Rs882300',
 'Rs889312',
 'Rs910873',
 'Rs916977',
 'Rs9296249',
 'Rs9300039',
 'Rs9311171',
 'Rs9315385',
 'Rs9317284',
 'Rs9322817',
 'Rs935334',
 'Rs9364554',
 'Rs9399137',
 'Rs9465871',
 'Rs9469220',
 'Rs9512730',
 'Rs9536591',
 'Rs958546',
 'Rs9594738',
 'Rs9594759',
 'Rs9642880',
 'Rs966321',
 'Rs983332',
 'Rs9858542',
 'Rs9888739',
 'Rs9930506',
 'Rs993648',
 'Rs9939609',
 'Rs9988642']

In [ ]:
# flip - flop choice
rsid_list = gwas_list # or snp_list

In [8]:
filename = "gwas" # or referenced if snp

**Correspondance entre la liste et le dataframe (réduction) :**

In [7]:
snp_series = pd.Series(rsid_list,  name="RSID")
snp_series = snp_series.apply(lambda x: re.sub(r'R', r'r', x))
# new df
snp_df = pd.concat([snp_series,pd.Series(range(len(snp_series)), name="ID_LIST")], axis=1)
snp_df = snp_df.merge(df, how='inner', on=['RSID'])
snp_df.head()
# save list of rsid referenced
snp_df[['ID_LIST','RSID']].to_csv('rsid_'+ filename +'.csv', index=False)

In [9]:
# checkpoint
snp_df = pd.read_csv('rsid_'+ filename +'.csv')

**Parsing des pages rsid (GWAS table) :**

In [25]:
def extract_table(URL, page):
    PARAMS = {"action": "parse", "page": page,"prop": "text", "section": 0, "format": "json"}
    # prettify request
    results = requests.get(url=URL, params=PARAMS).json()
    soup = bs(results['parse']['text']['*'], 'html.parser')
    # find body of each table
    tables = soup.find_all("tbody")
    for t in tables :
        head = t.select("th")
        if head :
            h_text = head[0].getText("", strip=True)
            if h_text == "GWAS" :
                # extract info
                body = t.select("td")
                # dict
                data = {}
                for h,b in zip(head[1:], body):
                    data[h.getText("", strip=True)] = b.getText("", strip=True)
    return data

In [27]:
URL = "http://bots.snpedia.com/api.php"
data = []
for p in snp_df.RSID :
    try :
        d = extract_table(URL,p)
        data += [d]
        print(p)
    except :
        print(p + " -- Unexpected error:", sys.exc_info()[0])
# save
gwas_df = pd.DataFrame(data)
gwas_df.to_csv('GWAS_DATA.csv', index=False)

rs1000113
rs10033464
rs10045431
rs1004819
rs10078095
rs1012053
rs1015362
rs10260404
rs1038304
rs1042602
rs1042725
rs10488360
rs10492604
rs10493340
rs10494366
rs10496265
rs10497721
rs10498792
rs10499194
rs10499559
rs10503887
rs10505477
rs10510634
rs10514345
rs10516487
rs10516541
rs1051730
rs10757278
rs10778213
rs10789230
rs10795668
rs10801047
rs10811661
rs10883365
rs10889676
rs10889677
rs10896449
rs10945919
rs10946398
rs10946808
rs10984447
rs10993994
rs10994336
rs11101442
rs1111875
rs11171739
rs11200638
rs11209002
rs11209003
rs11209026
rs11465802
rs11465804
rs1155865
rs11574637
rs1158167
rs1169310
rs11761231
rs12130333
rs1219648
rs12198986
rs12203592
rs12290811
rs12304921
rs12567232
rs12593813
rs12680546
rs12708716
rs12722489
rs12779790
rs12821256
rs12899449
rs12913832
rs12949531
rs12970134
rs13015714
rs13266634
rs13277113
rs13281615
rs1333026
rs1333049
rs13361189
rs13387042
rs13397985
rs1343151
rs1344706
rs1373692
rs1398024
rs1408799
rs1412337
rs1427407
rs1492820
rs1495377
rs1540771
rs1602565
rs1670533
rs16891982
rs16892766
rs16896068
rs16901979
rs16996148
rs1701704
rs17039212
rs17145738
rs17388568
rs1748195
rs17483466
rs17672135
rs17696736
rs17782313
rs17810546
rs1799969
rs1812175
rs1823068
rs1834640
rs1859962
rs1892534
rs1926657
rs1934951
rs1970546
rs1975197
rs2002842
rs2040704
rs2064689
rs2144300
rs216013
rs2179965
rs2180341
rs2200733
rs2201841
rs2218488
rs224136
rs2241880
rs2242330
rs2250417
rs2251746
rs2254287
rs2282978
rs2292239
rs2300478
rs2301436
rs2306677
rs2315008
rs2338104
rs2373115
rs2395148
rs2398162
rs2402130
rs2494250
rs2542151
rs2648875
rs2722425
rs2735839
rs2782931
rs2794520
rs2808630
rs2812378
rs2816316
rs2819770
rs2832077
rs2836823
rs2836878
rs2837960
rs28777
rs2877832
rs2902440
rs2903692
rs2981582
rs3130340
rs32566
rs35264875
rs358806
rs365990
rs366676
rs3736228
rs3748069
rs3761218
rs3761847
rs3764147
rs3796619
rs3802842
rs3803662
rs380390
rs3812316
rs3814219
rs3817198
rs3825942
rs3867498
rs3890745
rs3923809
rs3924426
rs4128725
rs4129267
rs420259
rs4355801
rs4363506
rs437943
rs4402960
rs441051
rs4430796
rs4466137
rs4471028
rs4591494
rs4607103
rs4626664
rs4771450
rs4796217
rs4799915
rs4810485
rs4846914
rs4870044
rs4896582
rs4910742
rs4911414
rs492602
rs4933824
rs4939827
rs495337
rs4962416
rs4963128
rs499818
rs5015480
rs5029939
rs507666
rs5498
rs560887
rs5751901
rs5770917
rs5945572
rs599839
rs6013382
rs6060369
rs6060373
rs6440003
rs6445975
rs6458307
rs6465657
rs646776
rs6469804
rs6556756
rs6604026
rs6669582
rs6763931
rs6822844
rs683395
rs6855911
rs6897932
rs6918152
rs6939340
rs6983267
rs6993813
rs7014346
rs702543
rs7046653
rs710521
rs7142881
rs7176508
rs721048
rs7216389
rs724016
rs7297610
rs7310409
rs735665
rs737267
rs740363
rs741301
rs743777
rs744166
rs7442295
rs746961
rs7506045
rs7517847
rs7524102
rs7578597
rs7595412
rs7626795
rs763361
rs7746082
rs7754840
rs7756992
rs7770628
rs780094
rs783396
rs7931342
rs7961581
rs798544
rs8007661
rs8034191
rs8050136
rs8055236
rs854555
rs864745
rs872071
rs882300
rs889312
rs910873
rs916977
rs9296249
rs9300039
rs9315385
rs935334
rs9364554
rs9399137
rs9465871
rs9469220
rs9536591
rs9594738
rs9594759
rs9642880
rs966321
rs983332
rs9858542
rs9888739
rs9930506
rs993648
rs9939609
rs9988642

In [10]:
# checkpoint
gwas_df = pd.read_csv('GWAS_DATA.csv')
gwas_df.head()

,SNP,PubMedID,Condition,Gene,Risk Allele,pValue,OR,95% CI
0,rs1000113,[PMID 17554300],Crohn's disease,IRGM,T,3.000000e-07,1.54,1.31-1.82
1,rs10033464,[PMID 17603472],Atrial fibrillation/atrial flutter,"PITX2,ENPEP",T,7.000000e-11,1.39,1.26-1.53
2,rs10045431,[PMID 18587394],Crohn's disease,IL12B,C,4.000000e-13,1.11,NaN
3,rs1004819,[PMID 17804789],Crohn's disease,IL23R,NaN,1.000000e-08,1.38,1.23-1.53
4,rs10078095,[PMID 18193045],Height,HOMER1,C,3.000000e-06,0.90,NR) cm talle

## Data Analysis

In [15]:
df_exp = gwas_df.copy()
df_exp.rename(columns={'SNP': 'RSID'}, inplace=True)

**Déterminer les données à analyser :**

In [16]:
# risk is relevant
isna = df_exp['Risk Allele'].isna().sum()
notna = df_exp['Risk Allele'].notna().sum()
display(isna,notna)

92

224

In [17]:
df_exp = df_exp[df_exp['Risk Allele'].notna()]
# condition diversity number
Condition = df_exp.groupby(['Condition']).apply(lambda x:x.index).index
print(Condition.size)

68

**Combiner les données MyHeritage avec Database :**

In [18]:
df_exp = df_exp.merge(df, how='inner', on=['RSID'])
df_exp.head()

,RSID,PubMedID,Condition,Gene,Risk Allele,pValue,OR,95% CI,CHROMOSOME,POSITION,RESULT
0,rs1000113,[PMID 17554300],Crohn's disease,IRGM,T,3.000000e-07,1.54,1.31-1.82,5,150240076,CT
1,rs10033464,[PMID 17603472],Atrial fibrillation/atrial flutter,"PITX2,ENPEP",T,7.000000e-11,1.39,1.26-1.53,4,111720761,GT
2,rs10045431,[PMID 18587394],Crohn's disease,IL12B,C,4.000000e-13,1.11,NaN,5,158814533,CC
3,rs10078095,[PMID 18193045],Height,HOMER1,C,3.000000e-06,0.90,NR) cm talle,5,78756778,CC
4,rs1012053,[PMID 17486107],Bipolar disorder,DGKH,A,2.000000e-08,1.59,1.35-1.87,13,42653437,AA

**Calculer le nombre d'Allele de risque :**

Mieux comprendre https://www.ebi.ac.uk/gwas/ (+ completer database si besoin)

In [31]:
def custom_row(row):
    return row[0].count(row[1])

df_exp['Count'] = df_exp[['RESULT','Risk Allele']].apply(custom_row, axis=1)
#df_exp[['RESULT','Risk Allele']].apply(lambda x : x[0].count(x[1]), axis=1)

**Calculer la proportion totale par condition :**

In [48]:
group_condition = df_exp.groupby(['Condition'])
# simplify data
listing = [['Condition','Proportion']]
for c,g in group_condition :
    allele_total = g['Count'].sum()
    prop = allele_total / (2*g.shape[0])
    # increment data
    listing += [[c,prop]]

**Enregistrement des resultats provisoire (synthèse) :**

In [61]:
df_analysis = pd.DataFrame(listing[1:], columns=listing[0])
# minimize propability (to define)
df_analysis.Proportion = df_analysis.Proportion/1.66
# Visualization
df_analysis.Proportion = df_analysis.Proportion.map(lambda n: '{:,.2%}'.format(n))
df_analysis.head()

                                           Condition Proportion
0  APOE*e4 carriers with late onset Alzheimer's d...      0.00%
1                   Age-related macular degeneration     30.12%
2                                             Asthma     30.12%
3                 Atrial fibrillation/atrial flutter     15.06%
4                                   Bipolar disorder     25.10%

In [62]:
df_analysis.to_csv('GenomeAnalysis_provisional.csv', index=False)